body {
  font: 160%/1.5 Helvetica, Arial, sans-serif;
}

h1, h2, h3 {
  margin-top: .25em;
  margin-bottom: .25em;
}

h1 {
  margin-top: 0;
}

dt {
  font-weight: bold;
}

dl figure, 
dl figure blockquote {
  margin-left: 0;
}

blockquote {
  font-style: italic;
}

#logo {
  float: right;
}

ul {
  margin-top: 0.25em;
  margin-bottom: 1em;
}

ul.samples li a {
  font-size: 120%/1.5;
}

